{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}ID3_Employee_SYS{% endblock %}
{% block navbar %}
	<nav class="navbar navbar-static-top navbar-inverse" role="navigation">
		<div class="container">
			<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
			</button> <a class="navbar-brand" href="#">基于ID3算法的员工信息管理与决策系统</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="#">Login</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
{% endblock %}
{% block content %}
<div class="container">
    <div class="text-center text-success">
        <h1>请     登     录</h1>
    </div>
    <div class="row clearfix">

		<div class="col-md-4 column">
		</div>
		<div class="col-md-4 column">
			{% for message in get_flashed_messages() %}
			<div class="alert alert-danger">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ message }}
			</div>
			{% endfor %}
			<form method="POST">
				{{ form.csrf_token }}
                <div class="form-group">
                    {{ wtf.form_field(form.email) }}
                </div>
                <div class="form-group">
                    {{ form.password.label }}
                    {{ form.password(type="password", class="form-control" ) }}
                    <a id="modal-930767" href="#modal-container-930767" role="button" class="btn" data-toggle="modal">Forget your password?</a>
						<div class="modal fade" id="modal-container-930767" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
											×
										</button>
										<h4 class="modal-title" id="myModalLabel">
											Notice
										</h4>
									</div>
									<div class="modal-body">
										If you are ADMIN, Please contact other ADMIN!
										If you are employee, Please contace ADMIN!
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">
											Close
										</button>
									</div>
								</div>
							</div>
						</div>
                </div>
				{{ wtf.form_field(form.radio) }}
                {{ form.submit(type="submit",class="btn btn-default btn-block btn-success")}}
            </form>
		</div>
		<div class="col-md-4 column">
		</div>
	</div>
</div>
{% endblock %}