{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}ID3_Employee_SYS{% endblock %}
{% block navbar %}
	<nav class="navbar navbar-static-top navbar-inverse" role="navigation">
		<div class="container">
			<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
			</button> <a class="navbar-brand" href="#">基于ID3算法的员工信息管理与决策系统</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					{% if current_user.is_authenticated %}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {{ current_user.username }}
                            <strong class="caret"></strong>
                        </a>
						<ul class="dropdown-menu">
							<li class="divider"></li>
							<li>
								<a href="{{ url_for('auth.logout') }}">Logout</a>
							</li>
							<li class="divider"></li>
						</ul>
					</li>
					{% else %}
					<li>
						<a href="{{ url_for('auth.login') }}">Login</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
{% endblock %}
{% block content %}
<div class="container">
    <div class="text-center text-success">
        <h1>请录入贡献训练集</h1>
    </div>
    <div class="row clearfix">

		<div class="col-md-4 column">
		</div>
		<div class="col-md-4 column">
			<form method="POST">
				{{ form.csrf_token }}
				{{ wtf.form_field(form.is_tool) }}
				{{ wtf.form_field(form.profit) }}
				{{ wtf.form_field(form.satistied_level) }}
				{{ wtf.form_field(form.score) }}
				<div class="form-group">
					{{ form.submit(type="submit",class="btn btn-default btn-block btn-success")}}
				</div>
            </form>
		</div>
		<div class="col-md-4 column">
		</div>
	</div>
</div>
{% endblock %}